<!DOCTYPE html>
<html ng-app="tinyReddit">

  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="script.js"></script>

    <meta name="google-signin-client_id" content="397375665310-4284tn7rnhrjug221hmvmphecikokj6c.apps.googleusercontent.com">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="style.css">

    <script src="https://apis.google.com/js/platform.js" async defer></script>

  </head>
  <body ng-controller="Controller">

  <header class="fixed-top">
      <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-md-7 py-4">
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQK0qqHMbF8AJnW84Pc5ZtqTV861-S_Hi87fJtz02Aj66ZzXINyyw">
            </div>
            <div class="col-sm-4 offset-md-1 py-4">
              <h4 class="text-white">Contact</h4>
              <ul class="list-unstyled">
                <li><a href="#" class="text-white">Follow us on GitHub</a></li>
                <li><p></p></li>
                <li><p class="text-white">Copyright Alexandre Goux & Martin Levrard</p></li>
              </ul>
              <div>
                <button id="signout" ng-click="signOut()" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">Sign out</button>
                <script>
                  function signOut() {
                    var auth2 = gapi.auth2.getAuthInstance();
                    auth2.signOut().then(function () {
                      console.log('User signed out.');
                    });
                  }
                </script>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="navbar navbar-dark bg-dark box-shadow">
        <div class="container d-flex justify-content-between">
          <div class="g-signin2" data-onsuccess="onSignIn" data-onfailure="onSignInFailure"></div>
          <a href="#" class="navbar-brand d-flex align-items-center">
            <strong>Tiny Reddit</strong>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </div>
    </header>

    <main role="main">
      <br><br><br>

      <div class="container">
        <ul class="nav nav-pills justify-content-end">
          <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#tab1">Home</a></li>
          <li class="nav-item"><a href="#tab2" class="nav-link" data-toggle="tab">Hot</a></li>
          <li class="nav-item"><a href="#tab3" class="nav-link" data-toggle="tab">My Account</a></li>
        </ul>
      </div>

      <div class="tab-content">

        <!-- Begin home page -->
        <div class="container tab-pane active" id="tab1">
          <h1 class="text-center jumbotron-heading">Create a post</h1>
          <form ng-submit="addMessage()">
              <div class="controls">
                  <div class="row">
                      <div class="col-md-6">
                          <div class="form-group">
                              <label for="form_name">Title</label>
                              <input id="title" type="text" ng-model="title" class="form-control" placeholder="Please enter your title" required="required" data-error="Title is required.">
                              <div class="help-block with-errors"></div>
                          </div>
                      </div>
                      <div class="col-md-6">
                          <div class="form-group">
                              <label for="form_lastname">Image URL</label>
                              <input id="imgUrl" type="text" ng-model="imgUrl" class="form-control" placeholder="Please enter your image URL">
                              <div class="help-block with-errors"></div>
                          </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-md-12">
                          <div class="form-group">
                              <label for="form_message">Message</label>
                              <textarea class="form-control" ng-model="body" placeholder="Please enter your message" rows="4" required="required" data-error="Please,leave us a message."></textarea>
                              <div class="help-block with-errors"></div>
                          </div>
                      </div>
                      <div class="col-md-12">
                          <input type="submit" class="btn btn-success btn-send" type="submit" value="Post message">
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-md-12">
                          <p class="text-muted"><strong>/!\</strong> Red fields are required.</p>
                      </div>
                  </div>
              </div>
          </form>

          <hr />

          <div class="album py-5 bg-light">
            <h1 class="text-center jumbotron-heading">Last posts</h1>
            <div class="container">
              <div class="row">
                <div class="col-md-6 offset-md-3" ng-repeat="x in lastMessages">
                  <div class="card mb-4 box-shadow">
                    <img class="card-img-top" src="{{x.properties.imgUrl}}" alt="">
                    <div class="card-body">
                      <h4 class="card-text">{{x.properties.title}}</h4>
                      <p class="card-text">{{x.properties.body}}</p>
                      <div class="d-flex justify-content-between align-items-center">
                        <h4><span class="badge badge-primary">{{x.properties.hot}}</span></h4>
                        <div class="btn-group">
                          <button type="button" class="btn btn-sm btn-outline-danger" ng-click="vote(x.key.name, 0)">-</button>
                          <button type="button" class="btn btn-sm btn-outline-success" ng-click="vote(x.key.name, 1)">+</button>
                        </div>
                        <small class="text-muted">Post by {{x.properties.fullName}}, {{x.properties.pubDate}}.</small>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End home page -->

        <!-- Begin hot page -->
        <div class="container tab-pane" id="tab2">
          <div class="album py-5 bg-light">
            <h1 class="text-center jumbotron-heading">Hot posts</h1>
            <div class="container">
              <div class="row">
                <div class="col-md-6 offset-md-3" ng-repeat="x in messages">
                  <div class="card mb-4 box-shadow">
                    <img class="card-img-top" src="{{x.properties.imgUrl}}" alt="">
                    <div class="card-body">
                      <h4 class="card-text">{{x.properties.title}}</h4>
                      <p class="card-text">{{x.properties.body}}</p>
                      <div class="d-flex justify-content-between align-items-center">
                        <h4><span class="badge badge-primary">{{x.properties.hot}}</span></h4>
                        <div class="btn-group">
                          <button type="button" class="btn btn-sm btn-outline-danger" ng-click="vote(x.key.name, 0)">-</button>
                          <button type="button" class="btn btn-sm btn-outline-success" ng-click="vote(x.key.name, 1)">+</button>
                        </div>
                        <small class="text-muted">Post by {{x.properties.fullName}}, {{x.properties.pubDate}}.</small>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End hot page -->

        <!-- Begin account page -->
        <div class="tab-pane" id="tab3">
          <div class="container">
            <div class="album py-5 bg-light">
              <h1 class="text-center jumbotron-heading">My posts</h1>
              <div class="container">
                <div class="row">
                  <div class="col-md-6 offset-md-3" ng-repeat="x in myMessages">
                    <div class="card mb-4 box-shadow">
                      <img class="card-img-top" src="{{x.properties.imgUrl}}" alt="">
                      <div class="card-body">
                        <h4 class="card-text">{{x.properties.title}}</h4>
                        <p class="card-text">{{x.properties.body}}</p>
                        <div class="d-flex justify-content-between align-items-center">
                          <h4><span class="badge badge-primary">{{x.properties.hot}}</span></h4>
                          <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-danger" ng-click="vote(x.key.name, 0)">-</button>
                            <button type="button" class="btn btn-sm btn-outline-success" ng-click="vote(x.key.name, 1)">+</button>
                          </div>
                          <small class="text-muted">Post by {{x.properties.fullName}}, {{x.properties.pubDate}}.</small>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <hr />

            <div class="album py-5 bg-light">
              <h1 class="text-center jumbotron-heading">My vote posts</h1>
              <div class="container">
                <div class="row">
                  <div class="col-md-6 offset-md-3" ng-repeat="x in myVotes">
                    <div class="card mb-4 box-shadow">
                      <img class="card-img-top" src="{{x.properties.imgUrl}}" alt="">
                      <div class="card-body">
                        <h4 class="card-text">{{x.properties.title}}</h4>
                        <p class="card-text">{{x.properties.body}}</p>
                        <div class="d-flex justify-content-between align-items-center">
                          <h4><span class="badge badge-primary">{{x.properties.hot}}</span></h4>
                          <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-danger" ng-click="vote(x.key.name, 0)">-</button>
                            <button type="button" class="btn btn-sm btn-outline-success" ng-click="vote(x.key.name, 1)">+</button>
                          </div>
                          <small class="text-muted">Post by {{x.properties.fullName}}, {{x.properties.pubDate}}.</small>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End account page -->

      </div>
    </main>

    <script>
      var init = function() {
        console.log("init called");
        window.init();
      };
    </script>

    <script src="https://apis.google.com/js/client.js?onload=init"></script>

  </body>

</html>
